{% extends 'omblog/base.html' %}

{% load jamiecurle_tags %}

{% block title %} Posts tagged with &ldquo;{{tag}}&rdquo; {% endblock %}

{% block body_class %}list{% endblock %}

{% block blog_content %}

	<h1>Posts tagged with &ldquo;{{tag}}&rdquo;</h1>
	{% for post in posts %}
		<div class="blog" style="border-left-color:{{post.created|colour_for_date}};">
			<h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
			<p>{{post.description}}</p>
			<p class="meta">{{post.created|date}}</p>
		</div>
	{% endfor %}
{% endblock %}
